            body{
                display:flex;
                flex-direction: column;
                min-height: 100h;
                background-size: cover;
                margin: 0;
                padding:0;
                color: #333;
                font-family: Arial;
            }
            header{
                text-align: center;
                padding: 20px;
                border-bottom: 2px solid #ff7200;
            }
            main {
                flex: 1;
                padding: 20px;
                background-color:#fff;
                border-radius: 10px;
                max-width: 1200px;
                margin: 20px auto;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            }
            h2 {
                color: #ff7200;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            th, td {
                padding: 10px;
                border: 1px solid #fff;
                text-align: left;
                word-wrap: break-word;
                min-width: 150px;
            }
            th {
                background-color: #ff7200;
                color: #333
                        }
            tr:nth-child(even) {
                background-color: #fff;
            }
            tr:hover {
                background-color:#fff;
            }
            button {
                padding: 5px 10px;
                background-color: #ff7200;
                color: gray;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            button:hover {
                background-color: #ff7200;
            }
            footer {
                text-align: center;
                margin-top: 20px;
                background-color: #fff;
                padding: 10px;
                border-top: 2px solid #ff7200;
            }
    